@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

* {
    text-align: center;
    font-family: 'Caveat', cursive;
}


table, th, td {
    margin: auto;
    border: 1px solid grey;
    border-collapse: collapse;
    width: 40%;
    padding: 20px 10px;
    
}